.footer-links {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 5px;

    a {
      display: inline-block;
    }
  }
}

.nav-link {
  opacity: 0.6;
  transition: opacity 0.2s;
  cursor: pointer;

  &:before {
    will-change: transform;
    display: inline-block;
    content: '› ';
    opacity: 0;
    transform: translateX(-10px);
    transition: 0.3s all;
  }

  &:hover {
    opacity: 1;

    &:before {
      opacity: 1;
      transform: translateX(-5px);
    }
  }
}
