.auth-row {
    height: 100vh;
}

.bg-col {
    background-image: url('images/admin-bg.webp');
    background-size: cover;
    background-position: bottom;
}

.form-col {
    background: #111;
}

.form-col .container {
    height: 100%;
}
