<div id="discord-cta">
  <div id="discord-cta-overlay">
    <div class="container py-5">
      <h3 class="mb-0">Tetszik a JobTraq?</h3>
      <div class="d-block d-md-flex align-items-center justify-content-between">
        <p class="lead mb-0 mt-3">
          Csatlakozz a PVGA Hackerspace Discord szerverére és mondd el véleményed.
        </p>
        <a [href]="environment.discord_join_link" target="_blank" class="mt-3 mt-md-0 btn btn-primary">Csatlakozom</a>
      </div>
      <app-small-divider></app-small-divider>
      <div class="discord-icons d-flex mt-3">
        <div class="discord-icon" *ngFor="let member of members">
          <img
            src="{{ member.avatar_url }}"
            alt="{{ member.username }}"
            title="{{ member.username }}"
            [class.discord-dnd]="member.status == 'dnd'"
            [class.discord-online]="member.status == 'online'"
            [class.discord-idle]="member.status == 'idle'"
          >
        </div>
      </div>
    </div>
  </div>
</div>
