<div class="card fake-card">
    <ngx-skeleton-loader [theme]="{width: '100%', height: '232px', margin: 0}"></ngx-skeleton-loader>
    <div class="card-body">
        <div class="card-title d-flex flex-row justify-content-between">
            <ngx-skeleton-loader [theme]="{width: '200px', height: '17px'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{width: '50px', height: '15px'}"></ngx-skeleton-loader>
        </div>
        <p class="card-text">
          <ngx-skeleton-loader [theme]="{margin: 0, height: '14px'}"></ngx-skeleton-loader>
        </p>
        <p class="small mb-0">
          <ngx-skeleton-loader [theme]="{height: '12px', width: '120px', margin: 0}"></ngx-skeleton-loader>
        </p>
    </div>
</div>
