.ethics-masthead {
  background: url("/assets/tropical-green-leaves-background.webp");
  background-size: cover;
}

p.lead {
  margin-top: 20px;
  margin-bottom: 0;
}

p.small {
  margin-bottom: 20px;
}

span.code {
  font-family: monospace;
}
