<app-no-data-info [visible]="!isReady"></app-no-data-info>

<div class="container mt-3" *ngIf="isReady">

  <app-news-block></app-news-block>

  <!-- Keresett területek -->
  <div class="row chart-row">
    <div class="col m-auto">
      <h3>Keresett területek</h3>
      <p class="lead">
        Különböző IT területek nyitott álláshirdetéseinek eloszlása.
      </p>
      <app-small-divider></app-small-divider>
      <p>
        Jelenleg <strong class="chart-highlight">{{ positionsMostOpen }}</strong> területre van a legtöbb szabad pozíció.
      </p>
    </div>
    <div class="col">
      <ngx-charts-advanced-pie-chart
        *ngIf="!loading"
        [results]="pieChartPositions"
        label="Álláshirdetés"
        [scheme]="colorScheme">
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>

  <!-- Álláshirdetések alakulása -->
  <div class="row chart-row">
    <div class="col m-auto">
      <h3>Álláshirdetések alakulása</h3>
      <p class="lead">
        Nyitott álláshirdetések számának változása.
      </p>
      <app-small-divider></app-small-divider>
      <p>
        Mostanában <strong class="chart-highlight">{{ positionsTrend }}</strong> a nyitott álláshirdetések száma.
      </p>
    </div>
    <div class="col">
      <ngx-charts-bar-vertical
        *ngIf="!loading"
        [results]="barOpenPositions"
        xAxis="true"
        yAxis="true"
        [scheme]="colorScheme">
      </ngx-charts-bar-vertical>
    </div>
  </div>

  <!-- Legnépszerűbb stack -->
  <div class="row chart-row">
    <div class="col m-auto">
      <h3>Legnépszerűbb stack</h3>
      <p class="lead">
        Nyitott álláshirdetésekben kért technikai követelmények.
      </p>
      <app-small-divider></app-small-divider>
      <p>
        A <strong class="chart-highlight">{{ mostNeededStack }}</strong> vezet.
      </p>
    </div>
    <div class="col">
      <ngx-charts-tree-map
        *ngIf="!loading"
        [results]="treeMapStacks"
        [scheme]="colorScheme">
      </ngx-charts-tree-map>
    </div>
  </div>

  <!-- Pozíciónkénti chartok -->
  <div *ngIf="!loading">
    <div *ngFor="let salaryData of positionSalaries">
      <app-position-salary-chart [position]="salaryData.name" [data]="salaryData.data" [colorScheme]="colorScheme" *ngIf="salaryData.data.length > 0"></app-position-salary-chart>
    </div>
  </div>

  <!-- Stackenkénti chart -->
  <app-stack-salary-chart *ngIf="!loading" [barStack]="barStack" [colorScheme]="colorScheme"></app-stack-salary-chart>


</div>
