<app-navbar></app-navbar>
<main>
  <div class="alert alert-info mb-0">
    <div class="container">
      A JobTraq béta állapotban van. Az adatokban és a rendszerben még előfordulhatnak hibák. Minden visszajelzést
      szívesen fogadok.
    </div>
  </div>

  <app-error-notify></app-error-notify>

  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2023 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
