$font-family-base: 'TitilliumWeb-Regular', 'sans-serif';
$headings-font-family: 'Staatliches-Regular', 'sans-serif';

$primary: #12e773;
$info: #12e773;

$enable-rounded: false;

:root {
  --primary: $primary;
}
