<app-page-header title="Impresszum" background="tropical-green-leaves-background.webp">
  <p class="lead">
    A fejlesztőről.
  </p>
</app-page-header>

<div class="container mt-3 scraping-ethics-typography">
  <h2>Fejlesztő, üzemeltető</h2>
  <p class="mb-5">
    <strong>Tóth Patrik</strong> (aryxs3m)<br>
    Web: <a href="https://pvga.hu">pvga.hu</a><br>
    Email: <a href="mailto:info@jobtraq.hu">info@jobtraq.hu</a><br>
    Email: <a href="mailto:aryx@pvga.hu">aryx@pvga.hu</a>
  </p>

  <h2>Tárhelyszolgáltató</h2>
  <p>
    <strong>Contabo GmbH</strong><br>
    Cím: Aschauer Straße 32a, 81549 Munich, Germany<br>
    Ügyfélszolgálat (munkanap 10:00-20:00): <a href="tel:+4989356471770">+49 89 3564717 70</a><br>
    E-mail: <a href="info@contabo.de">info@contabo.de</a>
  </p>

  <p class="small text-end">
    <a href="https://www.freepik.com/free-photo/tropical-green-leaves-background_4102585.htm#query=plants&position=1&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik
  </p>
</div>
