<div class="px-4 py-5 mb-5 text-center bg-dark" data-bs-theme="dark">
  <img src="assets/logo_Light.svg" alt="JobTraq">
  <h1 class="display-5 pt-5 fw-bold text-body-emphasis">
    Naprakész információ a magyar IT álláspiacról
  </h1>
  <div class="col-lg-6 pb-5 mx-auto">
    <p class="lead mb-4 text-white-50">
      A JobTraq naponta frissülő kimutatást készít az álláshirdetésekről, hogy megmutassa a különböző IT munkakörök
      iránti keresletet és fizetési sávokat.
    </p>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 mb-5">
    <div class="col m-auto">
      <h2>Hogyan működik?</h2>
      <app-small-divider></app-small-divider>
      <p class="lead">
        A JobTraq minden nap frissül az álláshirdetések alapján.
      </p>
    </div>
    <div class="col m-auto p-5">
      <ul class="jt-list">
        <li>a főbb álláshirdetési portálokon lekérdezi az aktuális nyitott pozíciókat</li>
        <li>kategorizálja őket a tartalmük alapján munkakör, szint és stack szerint</li>
        <li>összegzi őket különböző módokon</li>
        <li>megmutatja neked :)</li>
      </ul>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 mb-5">
    <div class="col m-auto">
      <h2>Miben készült?</h2>
      <app-small-divider></app-small-divider>
      <p class="lead">
        Angular frontend, Laravel backend és némi szabadidő.
      </p>
    </div>
    <div class="col m-auto p-5 d-flex flex-row justify-content-evenly">
      <img src="assets/logos/angular.svg" alt="Angular" style="width: 50%" class="px-5">
      <img src="assets/logos/laravel.svg" alt="Laravel" style="width: 50%" class="px-5">
    </div>
  </div>
</div>
